:root {
    --bg-color: white;
    --font-color: black;
    --theme-icon: url(../images/icons/moon.svg);
    --transition-fast: 0.2s;
    --transition-mid: 0.7s;
    --transition-slow: 2s;
}

[data-theme="dark"] {
    --bg-color: #090909;
    --font-color: white;
    --theme-icon: url(../images/icons/sun.svg);

}


.dark {
    background: #222;
    color: #e6e6e6;
}

* {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 2px;
    color:var(--font-color);
}

html {
    height: 100%;
    width: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: var(--bg-color);

}

/* HEADER */

.header {
    border-bottom: 0.1rem solid rgb(221,221,221);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--bg-color);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

.header-menu {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-menu img {
    margin-left: 1.1rem;
}

.header-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-socials {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-socials a {
    margin-right: 2rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: #a0a0a0;
}

.header ul {
    list-style-type: none;
}


/* NAVIGATION  */

.main-navigation {
    border-bottom: 1px solid rgb(221,221,221);
    position: fixed;
    top: 50%;
    left: 0;
    padding: 1rem;
    transform: translate(-50%) rotate(-90deg);
    transform-origin: top center;
    width: 100vh;
    background-color: var(--bg-color);
}

.main-navigation ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row-reverse;
}

.main-navigation ul a {
    text-decoration: none;
    color: inherit;
}

.main-navigation ul a li {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0 50px 0 0;
    transition: var(--transition-fast);
}

/* MAIN CONTENT */

main {
    margin: 7.5rem 0 0 6rem;
}

.card-articles-row {
    display: flex;
    flex-wrap: wrap;
}

.card-article {
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem 0 10rem;
}

.card-article-date {
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 0.4rem;
}

.card-article-img-border {
    width: 30rem;
    height: 30rem;
    border: 3px solid black;
}

.card-article img {
    object-fit: cover;
    width: 30rem;
    height: 30rem;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    transition: var(--transition-mid);
    transition-timing-function: ease-in-out;
    filter: grayscale(65%);
}

.card-article img:hover {
    border-radius: 0;
    filter: none;
}

.card-article-title {
    margin-top: 1rem;
    padding-left: 0.5rem;
    font-size: 1.8rem;
    font-weight: 300;
    width: 30rem;
    text-align: right;
    text-decoration: none;
    color: var(--dk-main-color);
}

.background-label {
    opacity: 0.02;
    top: 40vh;
    position: fixed;
    width: 100%;
    z-index: -1;
    font-size: 10vw;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

/* EFFECTS */


.shadow-fx-txt,
.scale-fx-svg {
    transition: var(--transition-fast);
}

.txt-fx {
    position:relative;
}

.txt-fx::after {
    position:absolute;
    right:-1rem;
    top:0;
    border-left:2px solid black;
    content:'';
    height:0;
    transition: var(--transition-mid);    
}

.txt-fx:hover::after {
    height:4.5rem;
}

.blog-posts-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.scale-fx-svg:hover {
    filter: drop-shadow(5px 4px 0 rgba(238, 42, 91, 0.5));
}

.article-container {
    margin: 12rem 20rem;
    text-align:center;
}

.article-container h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0px;
}

.article-container h2 {
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0px;
}

.article-container p {
    font-size: 2rem;
    text-align: left;
    line-height: 2;
    letter-spacing: 1px;
}
